body {
    background-image: url(https://media.istockphoto.com/vectors/wooden-boards-background-vector-id1283739446?k=20&m=1283739446&s=612x612&w=0&h=6a7pFqUfXCehZFwrwXUOnE1xHMbc8kgRgYuLPNqmotA=); 
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    color: white;
}
h1 {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-top: 2%;
    font-size: 50px;
}
.scores {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.player {
    display: flex;
}
.computer {
    display: flex;
}
#shuffle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#master-deck {
    width: 110vh;
    height: 3vh;
    display: flex;
    flex-direction: row-reverse;
    align-content: center; 
}
.card-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.c-card {
    margin-left: 15.5%;
}
.p-card {
    margin-right: 15.5%;
}
.c-card > img {
    max-width: 30px;
    height: auto;
}
.p-card > img {
    max-width: 30px;
    height: auto;
}
#computerTieContainer {
    display: flex;;
    width: 45%;
}
#playerTieContainer {
    display: flex;
    justify-content: flex-end;
    width: 45%;
}
#tie-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deal-btn {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}
.restart-btn {
    display: flex;
    justify-content: center; 
    margin-bottom: 2%;
}
#player-score {
color: #BA1313;
font-size: 35px;
display: flex;
justify-content: center;
}
#computer-score {
color: #BA1313;
font-size: 35px;
display: flex;
justify-content: center;
}
#winning-message {
    font-size: 25px;
    text-align: center;
    margin-bottom: 2%
}
