main {
    width: 70vw;
    height: 80vh;
    border: 2px solid black;
    display: grid;
    justify-content: center;
}
h1 {
    
    display: flex;
    justify-content: center;
}
.scores {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 70vw;
    height: 15vh;
}
.player {
    
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.computer {
    
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#shuffle {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#master-deck {
    width: 110vh;
    height: 3vh;
    display: flex;
    flex-direction: row-reverse;
    align-content: center; 
}
.c-card-container {
    margin: 0 250px 0 250px;
    display: flex;
    justify-content: center;
}
.c-card > img {
    max-width: 150px;
    height: auto;
}
.p-card-container {
    margin: 50px 250px 0 250px;
    display: flex;
    justify-content: center;
}
.p-card > img {
    max-width: 150px;;
    height: auto;
}
#p-container {
    background-color: aqua;
    height: 10vh;
    width: 10vw;
}
#c-container {
    background-color: fuchsia;
    height: 10vh;
    width: 10vw;
}
#main-container {
    background-color: steelblue;
    height: 10vh;
    width: 10vw;
}
